body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #b8cfe6;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #d9534f;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    font-size: 1em;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.yoo{
    color: green;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
}

.btn:hover {
    background-color: #c9302c;
}

.error {
    color: #d9534f;
    font-size: 0.9em;
}